
/* Your CSS Code here. */
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.nested-table {
    width: 100%;
    border: 2px solid black;
}

.black-bg {
    background-color: black;
    color: white;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: blue;
}
